<header class="header">
    <nav class="container">
        <ul class="navigation">
            <li class="navigation__item">
                <img class="navigation__logo" src="/public/images/intrepid-logo.svg">
            </li>
            <li class="navigation__item">
                Sample Application
            </li>
        </ul>
    </nav>
</header>