/* BASE */

html {
    font-family: sans-serif;
    color: #2f4054;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    text-align: left;
    border-bottom: 1px solid #cccccc;
    padding: 0.5rem;
}


/* CONTAINER */

.container {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1152px;
    padding: 0 1rem;
}


/* HEADER */

.header {
    padding: 0.5rem 0;
    margin-bottom: 2rem;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.3);
    align-items: center;
}


/* NAVIGATION */

.navigation {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navigation__item {
    float: left;
    margin-right: 1rem;
}

.navigation__logo {
    height: 4rem;
}


/* TABLE */

.table {
    margin-bottom: 2rem;
}

.table--bordered {
    border: 1px solid #cccccc;
}

/* highlight */

.highlighted {
    background-color: yellow;
}

/* Hide Author, Rating, and Category columns on mobile devices */

@media (max-width: 768px) {
    
    .table .mobile-hidden {
      display: none;
    }
}